# ==================================================
# Python
# ==================================================

__pycache__/
*.py[cod]
*$py.class

*.so
.Python

# Python cache
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/


# ==================================================
# Virtual Environment
# ==================================================

.venv/
venv/
env/

# Conda environment
.env


# ==================================================
# IDE
# ==================================================

# PyCharm
.idea/

# VS Code
.vscode/


# ==================================================
# Dataset
# ==================================================

# 原始数据
data/raw/


# 中间数据
data/annotation/
data/processed/
data/augmented_dataset/
data/difficulty_samples
data/processed_augmented

# 增强数据
**/augmented/
**/*_bright.png
**/*_hsv.png
**/*_crop.png


# YOLO cache
*.cache


# ==================================================
# Model weights
# ==================================================

# 忽略所有训练权重
runs/

*.pt
*.onnx


# 保留最终模型
!models/
!models/best_model.pt


# ==================================================
# Training Results
# ==================================================

# YOLO训练输出
runs/train/
runs/detect/

# Tensorboard
runs/*/events.out.tfevents.*

results/


# ==================================================
# Logs
# ==================================================

*.log

logs/


# ==================================================
# Temporary files
# ==================================================

*.tmp
*.temp

*.bak

.DS_Store


# ==================================================
# Large files
# ==================================================

*.zip
*.rar
*.7z


# ==================================================
# Keep final documentation
# ==================================================

!docs/
!README.md
!PROJECT_STRUCTURE.md

# ==================================================
# src
# ==================================================

src/analysis
src/inference
src/inspection

# Demo output
demo_results/