# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo

# =========================
# Virtual Environment
# =========================
.venv/
venv/
env/

# =========================
# IDE
# =========================
.idea/
.vscode/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Dataset（原始图片、训练数据）
# =========================
data/raw/
data/yolo_dataset
data/bootstrap_predictions
data/processed/images
data/processed/labels
data/processed/split


# =========================
# Model Weights
# =========================
weights/
*.pt
*.pth
*.onnx
*.engine

# =========================
# Training Results
# =========================
results/

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# System Files
# =========================
.DS_Store
Thumbs.db
